

.about-box{
    box-shadow: 4px 4px 4px #aaa;
    border-color:#381D2A;
}

/* --- Queries --- */
@media screen and (min-width: 1000px) {
    /* .box {
        margin-left: 2rem !important;
        margin-right: 2rem !important; 

    }
    .about-container {
        margin-left: 10rem !important;
        margin-right: 10rem !important;
        margin-top: 15vh !important;
    }
    .about-me-text {
        font-size: 1.5rem;
    } */
}

@media screen and (max-width: 1000px) {

}


@media screen and (min-width: 768px) {
    /* .about-container {
        margin-left: 3rem;
        margin-right: 3rem;
    } */
} 

@media screen and (max-width: 768px) {
   
} 

@media screen and (max-width: 400px) {


}