.cards {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.card {
box-shadow: 0 3px 10px 0 #aaa;
cursor: pointer;
height: 7rem;
width: 90vw;

}

.card h2 {
font-size: 20px;
font-weight: bold;
}

.card.visited {
box-shadow: 0 3px 10px 2px #444;
}