.cards {
    display: flex;
    flex-direction: row;
}

.education-card {
    width: 20rem;
}

.title-container {
    width: 20rem;
}

.information-container {
    width: 20rem;
}
.dot-container {
    width: 20rem;
}


.card {
box-shadow: 0 3px 10px 0 #aaa;
cursor: pointer;
height: 7rem;

}

.card h2 {
font-size: 20px;
font-weight: bold;
}

.card.visited {
box-shadow: 0 3px 10px 2px #444;
}

#java-dialog {
    border: 0;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #aaa;
}

#teacher-dialog {
    border-radius: 10px;
    border: 0;
    box-shadow: 1px 1px 1px #aaa;
}

#biomedicine-dialog {
    border-radius: 10px;
    border: 0;
    box-shadow: 1px 1px 1px #aaa;
}

@media screen and (min-width: 1000px) {
    /* .cards {
        flex-direction: row !important;
    }
    .card {
        height: 10rem !important;
    } */
}