.cards {
    display: flex;
    flex-direction: row;
}

.education-card {
    width: 20rem;
}

.title-container {
    width: inherit;
}

.information-container {
    width: inherit;
   
}

.arrow-container {
    width: inherit;
    border: 0;
}

#java-dialog {
    border: 0;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #aaa;
}

#teacher-dialog {
    border-radius: 10px;
    border: 0;
    box-shadow: 1px 1px 1px #aaa;
}

#biomedicine-dialog {
    border-radius: 10px;
    border: 0;
    box-shadow: 1px 1px 1px #aaa;
}

@media screen and (min-width: 1000px) {
    /* .cards {
        flex-direction: row !important;
    }
    .card {
        height: 10rem !important;
    } */
}