body {
    background-color: #EFE6DD;
}

#body {
    min-height: 100vh
}

.shadow {
    box-shadow: 1px 1px 1px #aaa;
}

.home-content {
    justify-content: center;
}

/* --- Me --- */ 

.profile-picture-phone {
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
}

.profile-picture-pc {
    height: 15rem;
    width: 15rem;
    border-radius: 100%;
}

.profile-picture-home {
    height: 15rem;
    width: 15rem;
    border-radius: 100%;
    box-shadow: 4px 4px 4px #aaa;
}

.title {
    font-family: 'Tangerine', serif;
    font-size: 1.5rem;
    text-shadow: 4px 4px 4px #aaa;
    margin-top: -1rem;
}

.title-home {
    font-family: 'Tangerine', serif;
    font-size: 2.5rem;
    text-shadow: 4px 4px 4px #aaa;
    margin-top: -1rem;
}

.name {
    font-family: 'Tangerine', serif;
    font-size: 2rem;
    text-shadow: 4px 4px 4px #aaa;
}

.name-home {
    font-family: 'Tangerine', serif;
    font-size: 4rem;
    text-shadow: 4px 4px 4px #aaa;
}

/* --- Header --- */
.header-phone {
    display: flex;
    flex-direction: row;
}

.header-pc {
    display: flex;
    flex-direction: column;
}

/* --- Footer --- */

.footer {
    background-color: #381D2A;
    flex-grow: 1;
    /* position: fixed;
    left: 0;
    bottom: 0; */
    width: 100%;
}

.contacts {
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
}


/* --- Visual --- */ 
.x-button {
    height: 1.5rem;

}

.line {
    width: 15rem;
    height: 0.5rem;
}

.xl-line {
    width: 100%;
    height: 0.5rem;
}

/* --- Colors --- */

.bg-olive {
    background-color: #AABD8C;
}

.bg-purple {
    background-color: #381D2A;
}

.bg-orange {
    background-color: #F39B6D;
}

.text-olive {
    color: #AABD8C !important;
}

.text-purple {
    color: #381D2A;
}

/* --- Navigation --- */
.topnav {
    overflow: hidden;
    z-index: 1;
    background-color: #333;
    position: relative;
}

.pointer {
    cursor: pointer;
}

.nav-text{
    font-family: 'Tangerine', serif;
    font-size: 40px;
}

  
.overlay {
height: 0%;
width: 100%;
position: fixed;
z-index: 1;
top: 5rem;
left: 0;
background-color: rgb(56,29,42);
background-color: rgba(56,29,42,0.95);
overflow-y: hidden;
transition: 0.5s;
}
  
.overlay-content {
position: relative;
width: 100%;
text-align: center;
}
  
.overlay a {
padding: 8px;
text-decoration: none;
font-size: 1.5rem;
color: white;
display: block;
transition: 0.3s;
}
  
.overlay a:hover, .overlay a:focus {
color: #f1f1f1;
}
  
@media screen and (max-height: 450px) {
.overlay {overflow-y: auto;}
.overlay a {font-size: 20px}
}


/* --- Queries --- */
@media screen and (min-width: 1000px) {
    
}

@media screen and (max-width: 1000px) {

}


@media screen and (min-width: 768px) {
    .header-phone {
        display: none !important;
    } 
    .header-pc {
        margin-top: 3rem;
    }
} 

@media screen and (max-width: 768px) {
    .header-pc {
        display: none !important;
    } 
    .profile-picture-pc{
        display: none !important;
    }
    /* .name-home {
        display: none !important;
    }
    .title-home {
        display: none !important;
    }*/
    /* .profile-picture-home {
        display: none !important;
    } */
} 

@media screen and (max-width: 400px) {
    .footer {
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
    }  
    .contacts {
        justify-content: center !important;
    }
    .contacts-container {
        align-items: center;
        margin-bottom: 1rem;
    }
   
}

