

@media screen and (min-width: 1000px) {
    .box {
        margin-left: 2rem !important;
        margin-right: 2rem !important; 

    }
    .about-container {
        margin-left: 10rem !important;
        margin-right: 10rem !important;
        margin-top: 15vh !important;
    }
    .about-me-text {
        font-size: 1.5rem;
    }
    .stack-container {
        flex-direction: row !important;
        justify-content: center;
    }
    .stack-box {
        justify-content: center !important;
        align-items: center !important;
    }
    .header-pc {
        margin-top: 3rem;
    }
    .course-bottom-line {
        width: 20rem !important;
    } 
    .greeting-home {
        font-size: 8rem !important;
    }
    .title-home {
        font-size: 4rem !important;
    }
    .nav-text {
        font-size: 3rem !important;
    }

}

@media screen and (max-width: 1000px) {
    .card-with-icon {
        display: none !important;
    } 
}


@media screen and (min-width: 768px) {
    .header-phone {
        display: none !important;
    } 
    .header-pc {
        margin-top: 3rem;
    }
    .about-container {
        margin-left: 3rem;
        margin-right: 3rem;
    }

} 

@media screen and (max-width: 768px) {
    .header-pc {
        display: none !important;
    } 
    .profile-picture-pc{
        display: none !important;
    }
    /* .greeting-home {
        display: none !important;
    }
    .title-home {
        display: none !important;
    }*/
    .profile-picture-home {
        display: none !important;
    }
} 

@media screen and (max-width: 400px) {
    .footer {
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
    }  
    .contacts {
        justify-content: center !important;
    }
    .contacts-container {
        align-items: center;
        margin-bottom: 1rem;
    }
    .greeting-home {
        font-size: 4rem !important;
    }
    .title-home {
        font-size: 2rem !important;
    }

}

.header-phone {
    display: flex;
    flex-direction: row;
}

.header-pc {
    display: flex;
    flex-direction: column;
}


.profile-picture-phone {
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
}

.profile-picture-pc {
    height: 15rem;
    width: 15rem;
    border-radius: 100%;
}

.profile-picture-home {
    height: 15rem;
    width: 15rem;
    border-radius: 100%;
    box-shadow: 4px 4px 4px #aaa;
}

.title {
    font-family: 'Tangerine', serif;
    font-size: 1.5rem;
    text-shadow: 4px 4px 4px #aaa;
    margin-top: -1rem;
}

.title-home {
    font-family: 'Tangerine', serif;
    font-size: 2.5rem;
    text-shadow: 4px 4px 4px #aaa;
    margin-top: -1rem;
}


.greeting {
    font-family: 'Tangerine', serif;
    font-size: 2rem;
    text-shadow: 4px 4px 4px #aaa;
}

.greeting-home {
    font-family: 'Tangerine', serif;
    font-size: 4rem;
    text-shadow: 4px 4px 4px #aaa;
}

.nav-pointer {
    cursor: pointer;
}


.nav-text{
    font-family: 'Tangerine', serif;
    font-size: 40px;
}

.nav-regular {
    color: #381D2A;
}


.line {
    width: 15rem;
    height: 0.5rem;
}

.xl-line {
    width: 100%;
    height: 0.5rem;
}

body {
    background-color: #EFE6DD;
}

.scroll {
    height: 100vh !important;
}


.footer {
    background-color: #381D2A;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.bg-olive {
    background-color: #AABD8C;
}

.text-olive {
    color: #AABD8C !important;
}

.text-purple {
    color: #381D2A;
}

.bg-purple {
    background-color: #381D2A;
}

.bg-orange {
    background-color: #F39B6D;
}



